language: node_js
node_js:
  - "node"

cache:
  yarn: true
  directories:
    - "node_modules"

install:
  - yarn install
  - yarn flow-typed install

scripts:
  - lint
  - flow

deploy:
  provider: script
  skip_cleanup: true
  script:
    - yarn build && yarn travis-deploy
  on:
    branch: master
